MAIN/TestCode/WSClientWeb/WSClientWeb/Test/Nextiva/xsd2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
  <xs:complexType name="ArrayOfKeyValueOfintDSTAdjustmentR6FBy_Pvq">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintDSTAdjustmentR6FBy_Pvq">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int"/>
            <xs:element name="Value" nillable="true" type="q1:DSTAdjustment" xmlns:q1="http://schemas.verint.com/2010/04/12/NextivaWS/"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintDSTAdjustmentR6FBy_Pvq" nillable="true" type="tns:ArrayOfKeyValueOfintDSTAdjustmentR6FBy_Pvq"/>
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
  <xs:complexType name="ArrayOfKeyValueOfAccessRightArrayOfAccessTypezEVzh0ZM">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAccessRightArrayOfAccessTypezEVzh0ZM">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="q2:AccessRight" xmlns:q2="http://schemas.verint.com/2010/04/12/NextivaWS/"/>
            <xs:element name="Value" nillable="true" type="q3:ArrayOfAccessType" xmlns:q3="http://schemas.verint.com/2010/04/12/NextivaWS/"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfAccessRightArrayOfAccessTypezEVzh0ZM" nillable="true" type="tns:ArrayOfKeyValueOfAccessRightArrayOfAccessTypezEVzh0ZM"/>
</xs:schema>