MAIN/TestCode/WSClientWeb/SLTest/Service References/Orders/OrderService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3143/OrderService.svc?xsd=xsd2" namespace="http://schema1" />
  <xs:import schemaLocation="http://localhost:3143/OrderService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3143/OrderService.svc?xsd=xsd3" namespace="http://schema2" />
  <xs:element name="ListProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schema1" minOccurs="0" name="ListProductsResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q2:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schema1" minOccurs="0" name="p" nillable="true" type="q3:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schema2" minOccurs="0" name="GetNewResult" nillable="true" type="q4:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>