DEV/TestCode/WSClientWeb/SLTest/Service References/Orders/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schema1" elementFormDefault="qualified" targetNamespace="http://schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3143/OrderService.svc?xsd=xsd3" namespace="http://schema2" />
  <xs:import schemaLocation="http://localhost:3143/OrderService.svc?xsd=xsd4" namespace="http://schema3" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schema2" minOccurs="0" name="Object" nillable="true" type="q1:DataObject" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schema3" minOccurs="0" name="Type" type="q2:SampleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>