MAIN/TestCode/WSClientWeb/WSClientWeb/Test/Sepialine/All.xml

<wsdl:definitions name="CommunicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="/Test/Sepialine/xsd0.xml" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd2.xml" namespace="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd1.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd3.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <xsd:complexType name="ArrayOfKeyValueOfstringstring">
        <xsd:annotation>
          <xsd:appinfo>
            <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Key" nillable="true" type="xsd:string"/>
                <xsd:element name="Value" nillable="true" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring"/>
      <xsd:complexType name="ArrayOfstring">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/">
      <xsd:element name="anyType" nillable="true" type="xsd:anyType"/>
      <xsd:element name="anyURI" nillable="true" type="xsd:anyURI"/>
      <xsd:element name="base64Binary" nillable="true" type="xsd:base64Binary"/>
      <xsd:element name="boolean" nillable="true" type="xsd:boolean"/>
      <xsd:element name="byte" nillable="true" type="xsd:byte"/>
      <xsd:element name="dateTime" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="decimal" nillable="true" type="xsd:decimal"/>
      <xsd:element name="double" nillable="true" type="xsd:double"/>
      <xsd:element name="float" nillable="true" type="xsd:float"/>
      <xsd:element name="int" nillable="true" type="xsd:int"/>
      <xsd:element name="long" nillable="true" type="xsd:long"/>
      <xsd:element name="QName" nillable="true" type="xsd:QName"/>
      <xsd:element name="short" nillable="true" type="xsd:short"/>
      <xsd:element name="string" nillable="true" type="xsd:string"/>
      <xsd:element name="unsignedByte" nillable="true" type="xsd:unsignedByte"/>
      <xsd:element name="unsignedInt" nillable="true" type="xsd:unsignedInt"/>
      <xsd:element name="unsignedLong" nillable="true" type="xsd:unsignedLong"/>
      <xsd:element name="unsignedShort" nillable="true" type="xsd:unsignedShort"/>
      <xsd:element name="char" nillable="true" type="tns:char"/>
      <xsd:simpleType name="char">
        <xsd:restriction base="xsd:int"/>
      </xsd:simpleType>
      <xsd:element name="duration" nillable="true" type="tns:duration"/>
      <xsd:simpleType name="duration">
        <xsd:restriction base="xsd:duration">
          <xsd:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
          <xsd:minInclusive value="-P10675199DT2H48M5.4775808S"/>
          <xsd:maxInclusive value="P10675199DT2H48M5.4775807S"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="guid" nillable="true" type="tns:guid"/>
      <xsd:simpleType name="guid">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:attribute name="FactoryType" type="xsd:QName"/>
      <xsd:attribute name="Id" type="xsd:ID"/>
      <xsd:attribute name="Ref" type="xsd:IDREF"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces" xmlns:tns="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
      <xsd:import schemaLocation="/Test/Sepialine/xsd3.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd1.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:complexType name="ArrayOfRawPaperJob">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RawPaperJob" nillable="true" type="tns:RawPaperJob"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfRawPaperJob" nillable="true" type="tns:ArrayOfRawPaperJob"/>
      <xsd:complexType name="RawPaperJob">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RawJobBase">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="xsd:int"/>
              <xsd:element minOccurs="0" name="Duplex" type="xsd:int"/>
              <xsd:element minOccurs="0" name="HeightInMicrometers" type="xsd:int"/>
              <xsd:element minOccurs="0" name="NumberOfCopies" type="xsd:int"/>
              <xsd:element minOccurs="0" name="NumberOfPages" type="xsd:int"/>
              <xsd:element minOccurs="0" name="PaperSizeName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PaperSizeNameScope" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PrintJobGroupId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PrintServerFullName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PrinterName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Quality" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="WidthInMicrometers" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="RawPaperJob" nillable="true" type="tns:RawPaperJob"/>
      <xsd:complexType name="RawJobBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="BillingCodeId" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="BillingComments" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="BillingDateLocal" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="BillingDateUtc" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="ClientMatchingToken" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="DeviceServiceId" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="ExtendedInfo" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xsd:element name="JobSourceId" type="xsd:int"/>
          <xsd:element name="Label" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MediaId" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="StatusCodeId" nillable="true" type="xsd:int"/>
          <xsd:element name="TrackedDateLocal" type="xsd:dateTime"/>
          <xsd:element name="TrackedDateUtc" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="UserDomainName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="UserFullMachineName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="UserMachineIPAddress" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="UserName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RawJobBase" nillable="true" type="tns:RawJobBase"/>
      <xsd:complexType name="InvalidArgumentFault">
        <xsd:sequence>
          <xsd:element name="ArgumentName" nillable="true" type="xsd:string"/>
          <xsd:element name="Details" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InvalidArgumentFault" nillable="true" type="tns:InvalidArgumentFault"/>
      <xsd:complexType name="RawPhoneJob">
        <xsd:sequence>
          <xsd:element name="CallDuration" type="ser:duration"/>
          <xsd:element name="CallEndDateTimeUtc" type="xsd:dateTime"/>
          <xsd:element name="DestinationPhoneNumbers" nillable="true" type="q2:ArrayOfstring" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xsd:element name="DeviceServiceId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="GlobalId" nillable="true" type="xsd:string"/>
          <xsd:element name="SourcePhoneNumber" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RawPhoneJob" nillable="true" type="tns:RawPhoneJob"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:import schemaLocation="/Test/Sepialine/xsd2.xml" namespace="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
      <xsd:element name="PostRawPaperJobs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="newRawJobs" nillable="true" type="q1:ArrayOfRawPaperJob" xmlns:q1="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostRawPaperJobsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="PostRawPaperJobsResult" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostRawPhoneJob">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="rawPhoneJob" nillable="true" type="q2:RawPhoneJob" xmlns:q2="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostRawPhoneJobResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="PostRawPhoneJobResult" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobPostingService_PostRawPaperJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPaperJobs"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPaperJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPaperJobsResponse"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPaperJobs_InvalidArgumentFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:InvalidArgumentFault" xmlns:q1="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPhoneJob_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPhoneJob"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPhoneJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPhoneJobResponse"/>
  </wsdl:message>
  <wsdl:portType name="IJobPostingService">
    <wsdl:operation name="PostRawPaperJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPaperJobs" message="tns:IJobPostingService_PostRawPaperJobs_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPaperJobsResponse" message="tns:IJobPostingService_PostRawPaperJobs_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPaperJobsInvalidArgumentFaultFault" name="InvalidArgumentFaultFault" message="tns:IJobPostingService_PostRawPaperJobs_InvalidArgumentFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PostRawPhoneJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPhoneJob" message="tns:IJobPostingService_PostRawPhoneJob_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPhoneJobResponse" message="tns:IJobPostingService_PostRawPhoneJob_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobPostingService" type="tns:IJobPostingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PostRawPaperJobs">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/PostRawPaperJobs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentFaultFault">
        <soap:fault name="InvalidArgumentFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostRawPhoneJob">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/PostRawPhoneJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunicationService">
    <wsdl:port name="BasicHttpBinding_IJobPostingService" binding="tns:BasicHttpBinding_IJobPostingService">
      <soap:address location="http://durendal:7080/cs/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>