MAIN/TestCode/WSClientWeb/WSClientWeb/Test/Sepialine/WSDL.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="CommunicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="/Test/Sepialine/xsd0.xml" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd2.xml" namespace="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd1.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="/Test/Sepialine/xsd3.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobPostingService_PostRawPaperJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPaperJobs"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPaperJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPaperJobsResponse"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPaperJobs_InvalidArgumentFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:InvalidArgumentFault" xmlns:q1="http://schemas.datacontract.org/2004/07/Sepialine.Argos.AppServer.Communication.Interfaces"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPhoneJob_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPhoneJob"/>
  </wsdl:message>
  <wsdl:message name="IJobPostingService_PostRawPhoneJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRawPhoneJobResponse"/>
  </wsdl:message>
  <wsdl:portType name="IJobPostingService">
    <wsdl:operation name="PostRawPaperJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPaperJobs" message="tns:IJobPostingService_PostRawPaperJobs_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPaperJobsResponse" message="tns:IJobPostingService_PostRawPaperJobs_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPaperJobsInvalidArgumentFaultFault" name="InvalidArgumentFaultFault" message="tns:IJobPostingService_PostRawPaperJobs_InvalidArgumentFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PostRawPhoneJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPhoneJob" message="tns:IJobPostingService_PostRawPhoneJob_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostingService/PostRawPhoneJobResponse" message="tns:IJobPostingService_PostRawPhoneJob_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobPostingService" type="tns:IJobPostingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PostRawPaperJobs">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/PostRawPaperJobs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentFaultFault">
        <soap:fault name="InvalidArgumentFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostRawPhoneJob">
      <soap:operation soapAction="http://tempuri.org/IJobPostingService/PostRawPhoneJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunicationService">
    <wsdl:port name="BasicHttpBinding_IJobPostingService" binding="tns:BasicHttpBinding_IJobPostingService">
      <soap:address location="http://durendal:7080/cs/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>